html {
    scroll-behavior: smooth;
}

body {
    background: black;
    color: black;
}

#HomePageHeader {
    color: teal;
    text-align: center;
}

#Website-Main {
    text-align: center;
    color: red;
}

#toolbar{
    color: black;
    background-color: black;
    border-color: black;
}

