
<link href="~/css/HomePageStyle.css" rel="stylesheet"/>


<div id ="HomePageHeader">
    <h1>Go Birds</h1>
    <h2>Welcome to our project</h2>
    <h2></h2>
    <br />
    <br />
</div>

<div id="Website-Main">

    <h1>Fuck the Cowboys!</h1>

</div>

